<main class="container-fluid mx-auto " style="padding: 0 7.5em;">
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="tasks-tbody">
            <tr>
                <td>1</td>
                <td>Dummy description</td>
                <td>6/29/2022</td>
                <td>New</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dummy description</td>
                <td>6/29/2022</td>
                <td>New</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dummy description</td>
                <td>6/29/2022</td>
                <td>New</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <input class="btn btn-outline-secondary" value="Get Info" id="info">
    </div>
</main>